<div class="container">

  <div class="padding-vertical post-title">
    You're one step closer to helping out this planet!
  </div>

  <div class="padding-vertical">
    The Zen Woods is going to make this planet a better place, starting with the help of great humans like you. Find out what we plan on doing to change the world.
  </div>

  <div class="padding-vertical">
    <img class="product-image" src="https://www.unitedartistssalon.com/wp-content/uploads/2012/11/back-to-nature-featured.jpg" />
  </div>

  <div class="padding-vertical post-title">
    First, what is The Zen Woods?
  </div>

  <div class="padding-vertical">
    The Zen Woods is a lifestyle brand dedicated to making our planet, Earth, a better place to live. Each month will be exclusive to any one of the four ancient elements: <span class="air">Air</span>, <span class="water">Water</span>, <span class="fire">Fire</span>, and <span class="earth">Earth</span>. Based on the month's element, The Zen Woods will teach you how you can help change our planet for the better. Humans like you can help save the Earth. She is our only home... for now.
  </div>

  <div class="padding-vertical post-title">
    How does The Zen Woods plan on doing this?
  </div>

  <div class="padding-vertical">
    Because each month will be dedicated to a specific element, we are going to teach you what you can do to help out planet Earth using that element. Everything helps, even the little things, and all it takes is just one person to make an impact. It starts with you!
  </div>

  <div class="padding-vertical">
    The Zen Woods will make sure that you are always educated and learning new ways to help our planet. You'll always be up to date. It's our guarentee. We guarentee it. (Yes, that is from The Office.) 
  </div>

  <div class="padding-vertical">
    <img class="product-image" src="https://www.unitedartistssalon.com/wp-content/uploads/2012/11/back-to-nature-featured.jpg" />
  </div>

  <div class="padding-vertical">
    And we're planning some big stuff in the future. We can't wait to share it with you. For right now, you can check us out on:
  </div>

  <div class="padding-vertical">
    <li><a href="https://instagram.com/thezenwoods">Instagram</a>
    <li><a href="https://twitter.com/thezenwoods">Twitter</a>
  </div>

  <div class="padding-vertical">
    You love the planet. We love you.
  </div>

</div>