<div class="home-column">
  <div class="wrapper center">
    Thank you so much for signing up! It means the world to us. You and <%= Email.count %> others are going to help us change the planet!
  </div>
</div>