/*
 *= require_tree .
 *= require_self
 */


$main: #5AC081; /* OCEAN GREEN */
$main-2: #00AE7E; /* original */
$light: #73D9BD; /* SPRING RAIN */
$dark: #AE6A42; /* HOKEY POKEY */
$green: #47B975; /* OCEAN GREEN */
$border: #ccc; /* LOBLOLLY */
$red: #F44336; /* POMEGRANATE */
$yellow: #ff9800; /* PIZAZZ */
$black: #212121; /* GREEN KELP */
$white: #FFF4ED; /* FAFAFA DESERT STORM */
$grey: #ccc; /* GALLERY */

$air: #48B9B9;
$fire: #FF9200;
$water: #104EAF;
$earth: #5AC081;
$trial: #c05a5a;
$trial2: #5ac0a4;

$fancy: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$night-background: #000;
$night-text: #ccc;
$night-content-background: #212121;

$radius: 4px;
$shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$letterspacer: .05em;

$mini: 0.75em;
$mid: 2em;

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-family: $fancy;
  font-weight: 400;
  background: $white;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 94%;
  margin: 0 auto;
}

/* *************** FLASH ***************** */

.flash {
  position: fixed;
  margin: 0 auto;
  z-index: 1006;
  width: 60%;
  top: 0;
  left: 20%;
}

.alert-notice {
  border-bottom: 10px solid $green;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert-alert {
  border-bottom: 10px solid $red;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert {
  width: 90%;
  margin: 0 auto;
  padding: 1vh 0;
  font-family: $fancy;
}

/* **************** HOME *********************** */

.home-text {
  width: 100%;
  color: $white;
}

.home-title {
  letter-spacing: .3em;
  font-size: 2.5em;
  line-height: 1.25em;
}

.home-image {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  img {
    text-align: center;
    max-width: 1920px;
    max-height: 640px;
  }
}

.home-column {
  width: 70%;
  margin: 0 auto;
}

.home-column-mini {
  width: 50%;
  margin: 0 auto;
}

.home-search-field {
  width: 70%;
  font-size: 1.5em;
  padding: 1vh 1vw;
  font-weight: 400;
  text-align: right;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
  background: $white;
}

.home-search-button {
  @include transition;
  width: 30%;
  font-size: 1.25em;
  padding: 1vh 1vw;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
  &:hover {
    background: $main;
  }
}

.back-third {
  background: rgba(0,0,0,0.5);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.back-second {
  background: $black;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.background {
  background: no-repeat center center fixed;
  background-image: url("https://i.imgur.com/JTAfuXg.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  z-index: -3;
}

.white-background {
  background: $white;
  width: 100%;
}

.home-post-link {
  color: $black;
  &:hover {
    color: $black;
  }
}

/* ************************ FOOTER ************************* */

.full-footer-container {
  width: 100%;
  clear: both;
  padding: 2vh 0;
  background: $main;
}

.footer-disclaimer {
  font-size: .75em;
  width: 100%;
  color: $white;
}

.instagram {
  color: $white;
  &:hover {
    color: #c32aa3;
  }
}

.twitter {
  color: $white;
  &:hover {
    color: #55acee;
  }
}

.pinterest {
  color: $white;
  &:hover {
    color: #bd081c;
  }
}

/* ************************ THE REST ************************ */

.padding-vertical-large {
  padding: 10vh 0;
}

.padding-top {
  padding-top: 5vh;
}

.padding-top-large {
  padding-top: 10vh;
}

.padding-top-mini {
  padding-top: 1vh;
}

.padding-vertical-mini {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.padding-vertical {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.padding-bottom {
  padding-bottom: 3vh;
}

.padding-bottom-large {
  padding-bottom: 10vh;
}

.padding-bottom-mini {
  padding-bottom: 1vh;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.air {
  color: $air;
}

.water {
  color: $water;
}

.fire {
  color: $fire;
}

.earth {
  color: $earth;
}

/* *********************** HEADER ****************** */

.header-container {
  width: 94%;
  margin: 0 auto;
  background: transparent;
  a {
    color: $black;
  }
}

.header-container-menu {
  width: 94%;
  margin: 0 auto;
  background: transparent;
  a {
    color: $white;
  }
}

.nav {
  display: block;
  .site-title {
    @include transition;
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: $main;
    &:hover {
      text-decoration: none;
      color: $dark;
    }
  }
}


/* ******************* POSTS ******************* */

.image-container {
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 8px;
  font-size: .75em;
  color: $grey;
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seventy {
  margin: 0 auto;
  width: 800px;
  max-width: 800px;
  display: inline-block;
  vertical-align: bottom;
}

.fifty {
  margin: 0;
  width: 49%;
  display: inline-block;
  vertical-align: bottom;
}

.product-title-background {
  background: $main;
}

.element-background {
  background: $main;
  color: $white;
}

.post-title {
  line-height: 1.25em;
  font-size: 2.5em;
  font-weight: 700;
}

.white-text {
  color: $white;
}

.right {
  text-align: right;
}

.large-image {
  @include transition;
  border-radius: $radius;
  display: block;
  max-height: 1080px;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: auto;
  box-shadow: $shadow;
}

.sub-title {
  line-height: 1.25em;
  font-size: 2em;
  font-weight: 700;
}

.best {
  word-break: break-word;
  white-space: pre-line;
  margin-top: -25px;
}

.best-sub-title {
  line-height: 1.25em;
  margin: 2vh 0 -2vh 0;
  font-size: 2em;
  font-weight: 700;
}

.search-field {
  width: 68%;
  font-size: 1.5em;
  padding: 1vh 1vw;
  font-weight: 400;
  text-align: right;
  border: 2px solid $main;
  display: inline-block;
  box-sizing: border-box;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
  background: $white;
  border-radius: $radius;
}

.search-button {
  @include transition;
  width: 30%;
  font-size: 1.25em;
  padding: 1vh 1vw;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $main;
  background: $main;
  color: $white;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
  border-radius: $radius;
  &:hover {
    background: transparent;
    color: $main;
  }
}

.more-button {
  @include transition;
  width: 100%;
  font-size: 1.25em;
  padding: 1vh 1vw;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $main;
  background: $main;
  color: $white;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
  border-radius: $radius;
  &:hover {
    background: transparent;
    color: $main;
  }
}

.twitter-button {
  @include transition;
  width: 100%;
  font-size: 1.25em;
  padding: 1vh 1vw;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #55acee;
  background: #55acee;
  color: $white;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
  border-radius: $radius;
  &:hover {
    background: transparent;
    color: #55acee;
  }
}

.facebook-button {
  @include transition;
  width: 100%;
  font-size: 1.25em;
  padding: 1vh 1vw;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #395085;
  background: #395085;
  color: $white;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
  border-radius: $radius;
  &:hover {
    background: transparent;
    color: #395085;
  }
}

/* ******************** MeDIA QUERIES **************** */

@media screen and (max-width: 1024px) {

  .home-column {
    width: 100%;
  }

  .home-column-mini {
    width: 100%;
  }

  .home-mid-container {
    width: 100%;
  }

  .seventy {
    width: 100%;
  }

  .search-field {
    width: 100%;
    margin-bottom: 1vh;
  }

  .search-button {
    width: 100%;
  }

  .home-title {
    font-size: 1.75em;
  }

  .nav {
    .site-title {
      font-size: 1.75em;
    }
  }

  .post-title {
    font-size: 1.75em;
    text-align: center;
  }

  .sub-title {
    font-size: 1.5em;
  }

}

@media screen and (max-width: 800px) {

  .home-search-field {
    width: 100%;
    margin-bottom: 1vh;
    border-radius: $radius;
  }

  .home-search-button {
    width: 100%;
    border-radius: $radius;
  }

  .home-title {
    font-size: 1.75em;
    text-align: center;
  }

  .nav {
    .site-title {
      font-size: 1.75em;
      text-align: center;
    }
  }

  .post-title {
    font-size: 1.75em;
    text-align: center;
  }

  .sub-title {
    font-size: 1.5em;
    text-align: center;
  }

}